# Ejercicios de estructuras de datos con Python.

- Ejercicio 1
Crea una lista que agrupe los meses del año en trimestres (1T: enero, febrero y marzo; 2T: abril, mayo, junio...), es decir, una lista con 4 listas dentro.

In [4]:
Meses_Trim = [['Enero','Febrero', 'Marzo'],['Abril','Mayo','Junio'],['Julio','Agosto','Septiembre'],
              ['Octubre','Noviembre','Diciembre']]
Meses_Trim

[['Enero', 'Febrero', 'Marzo'],
 ['Abril', 'Mayo', 'Junio'],
 ['Julio', 'Agosto', 'Septiembre'],
 ['Octubre', 'Noviembre', 'Diciembre']]

- Ejercicio 2
Crea un código que te permita acceder a:

El segundo mes del primer trimestre.
Los meses del primer trimestre.
Septiembre y octubre.

In [12]:
SegundoMes_1T = Meses_Trim[0][1]
SegundoMes_1T

'Febrero'

In [11]:
Meses_1T = Meses_Trim[0]
Meses_1T

['Enero', 'Febrero', 'Marzo']

In [16]:
Sept_Octu =  Meses_Trim[2][2] , Meses_Trim[3][0]
Sept_Octu

('Septiembre', 'Octubre')

- Ejercicio 3
Crea una lista con números desordenados y responde a las siguientes preguntas:

¿Cuántos números hay?
Cuántas veces aparece el número 3.
¿Cuántas veces aparecen los números 3 y 4?
¿Cuál es el mayor número?
¿Cuáles son los 3 números más pequeños?
¿Cuál es el rango de esa lista?

In [167]:
import random
random_numbers = random.sample(range(20), 8)
print(random_numbers)
type(random_numbers)

[5, 12, 13, 15, 0, 4, 18, 2]

list

In [168]:
len(random_numbers)

8

In [169]:
random_numbers.count(3)

0

In [173]:
random_numbers.count(3) , random_numbers.count(4)

(0, 1)

In [164]:
max(random_numbers)

16

In [165]:
def MinVal(myList, quantity):
    return sorted(list(set(myList)))[:quantity]

MinVal(random_numbers,3)

[1, 3, 4]

In [174]:
max(random_numbers)-min(random_numbers)

18

- Ejercicio 4
Crea un diccionario de la siguiente forma y responde a las preguntas:

compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }
Añade alguna fruta más
¿Cuánto han costado las peras en total?
¿Cuántas frutas hemos comprado en total?
¿Cuál es la fruta más cara?

In [19]:
compra = { "Manzanas" : {"Qty": 5, "€": 0.42}, "Peras" : {"Qty": 3, "€": 0.66} }

In [78]:
type(compra)

dict

In [20]:
compra[ "Naranjas" ] = {"Qty": 6, "€": 0.50}

In [21]:
compra

{'Manzanas': {'Qty': 5, '€': 0.42},
 'Peras': {'Qty': 3, '€': 0.66},
 'Naranjas': {'Qty': 6, '€': 0.5}}

In [27]:
compra["Peras"]["Qty"]* compra["Peras"]["€"]

1.98

In [28]:
compra["Peras"]["Qty"] +compra["Manzanas"]["Qty"] + compra["Naranjas"]["Qty"]

14

In [157]:
print("La fruta mas cara es",max(compra.keys(), key = lambda x:compra[x]['€']))

La fruta mas cara es Peras